/* Main Styles for Ferienheim Concordia */

body {
    font-family: 'Trebuchet MS', sans-serif;
    color: #000000;
    background-color: #f2e7d3;
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: bold;
}
  
h1 {
    font-size: 30px;
}

h2 {
    margin: 30px 0 20px;
}

h3 {
    font-size: 22px;
    margin-top: 30px;
}

p, ul {
    font-size: 17px;
    margin: 10px 0 10px;
}

a {
    color: #442a06;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #311e07;
    color: #fff;
    padding: 5px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin: 5px 0;
}

.button:hover {
    background-color: #442a06;
}

.contact-box {
    margin-top: 30px;
    padding: 10px 20px 20px;
    border: 2px solid #311e07a8;
    border-radius: 4px;
}
